
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
	<meta name="title" content="МТС Пресса - Популярное" />  
		
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    
	
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	


		
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jplayer/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?4" />
    <link rel="stylesheet" type="text/css" href="/static/css/mts.css?7" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.smartbanner.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/header_adaptive.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer_adaptive.css" />

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <title>МТС Пресса - Популярное</title>

	
</head>

<body>	

	
	<div class="image-preloader"></div>
    

	<div class="wrap"><!--downpress footer-->
		<header>
			<!-- header for desktop -->
			
			<div class="body_wrap">
				<div class="body_wrap_inner">
					<div class="b-top_line">
						<div class="g-wrapper clearfix">
							<ul class="b-top_line__left">
								<li class="b-top_line__item item_right"></li>
								
								<li class="b-top_line__item item_basket">
									<a title="Сайт МТС"
									   href="/"><span>
                                           <img src="/static/images/logo_clean.png" />
                                       </span></a>
								</li>
								

							</ul>
						</div>
					</div>
				</div>
            </div>
            


			
	

	
			<!-- header for mobile -->
			<form action="/catalogue/search" class="searchform"><input type="text" name="key" class="form-control"><i class=""></i></form>

			<div class="container visible-xs-block mobile">
				<div class="row">
					<a href="#" class="open-side-menu col-xs-3 bars-link" >
						<i class="icon icon-w icon-bars"></i>
					</a>
	
					<div class="col-xs-6 logo text-center"><a href="/"><img alt="" src="/images/logom.png"></a></div>
	
					<a href="#" class="col-xs-3 search text-right">
						<i class="icon icon-w icon-search"></i>
					</a>
				</div>
			</div>	
		</header>
	
        <!-- menu for desctop -->
        {% block themes %} {% endblock %}
		
	
	    <section class="main">
            {% block main %} {% endblock %}
	    </section>
		
		<div class="empty"></div>
	</div>


	<div class="footer">	
		<footer>

			<div class="b-footer">
				<div class="b-footer_content">
					
						

					<div class="b-footer_age"></div>
					<ul class="b-footer_social">
						<li><a class="vk" href="http://vk.com/mts"></a></li>
						<li><a class="tw" href="https://twitter.com/mts_news"></a></li>
						<li><a class="ok" href="http://ok.ru/mts"></a></li>
						<li><a class="fb" href="https://www.facebook.com/mts"></a></li>
					</ul>
					<div class="b-footer_age_phone"></div>
					<div class="b-footer_copyright">
						<div class="b-footer_copyright__line">Соглашение о пользовании системой</div>
						&copy; 2018 РЖД. Все права защищены.
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</footer>
	</div>
	
	
    
    

<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/tatic/js/nprogress.js"></script>
<script type="text/javascript" src="/static/js/script.js?3"></script>
<script type="text/javascript" src="/static/js/jquery.smartbanner.js"></script>
<script type="text/javascript" src="/static/js/mts.js?3"></script>
<script type="text/javascript" src="/tatic/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/jquery.jplayer.js"></script>

</body>
</html>

