
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
	<meta name="title" content="МТС Пресса - Популярное" />  
		
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    
	
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	


		
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jplayer/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?4" />
    <link rel="stylesheet" type="text/css" href="/static/css/mts.css?7" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.smartbanner.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/header_adaptive.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer_adaptive.css" />

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <title>МТС Пресса - Популярное</title>

	
</head>

<body>	

	
	<div class="image-preloader"></div>
    

	<div class="wrap"><!--downpress footer-->
		<header>
			<!-- header for desktop -->
			
			<div class="body_wrap">
				<div class="body_wrap_inner">
					<div class="b-top_line">
						<div class="g-wrapper clearfix">
							<ul class="b-top_line__left">
								<li class="b-top_line__item item_right"></li>
								
								<li class="b-top_line__item item_basket">
									<a title="Сайт МТС"
									   href="/"><span>
                                           <img src="/static/images/logo_clean.png" />
                                       </span></a>
								</li>
								

							</ul>
						</div>
					</div>
				</div>
            </div>
            


			
	

	
			<!-- header for mobile -->
			<form action="/catalogue/search" class="searchform"><input type="text" name="key" class="form-control"><i class=""></i></form>

			<div class="container visible-xs-block mobile">
				<div class="row">
					<a href="#" class="open-side-menu col-xs-3 bars-link" >
						<i class="icon icon-w icon-bars"></i>
					</a>
	
					<div class="col-xs-6 logo text-center"><a href="/"><img alt="" src="/images/logom.png"></a></div>
	
					<a href="#" class="col-xs-3 search text-right">
						<i class="icon icon-w icon-search"></i>
					</a>
				</div>
			</div>	
		</header>
	
		<!-- menu for desctop -->
		<nav id="categories" class="hidden-xs">
			<div class="container">
				<ul class="nav nav-pills">
					<li class="category "><a href="/catalogue/category/146">Ежедневные</a></li><li class="category "><a href="/catalogue/category/147">Еженедельные</a></li><li class="category "><a href="/catalogue/category/150">Женские</a></li><li class="category "><a href="/catalogue/category/151">Мужские</a></li><li class="category "><a href="/catalogue/category/160">Досуг и развлечения</a></li><li class="category "><a href="/catalogue/category/153">Дом и семья</a></li><li class="category "><a href="/catalogue/category/157">Общество и политика</a></li><li class="category "><a href="/catalogue/category/158">Бизнес и финансы</a></li><li class="category "><a href="/catalogue/category/159">Научно-популярные</a></li><li class="category "><a href="/catalogue/category/152">Детские</a></li><li class="category "><a href="/catalogue/category/155">Спорт</a></li><li class="category "><a href="/catalogue/category/156">Религия</a></li><li class="category "><a href="/catalogue/category/154">Авто</a></li>				</ul>
			</div>
		</nav>
	
	    <section class="main">
		    
	<section id="j_slider">
		<ul class="slider">
							<li class="journal">
					<a href="/catalogue/journal/1504" title="GQ">
						<img src="http://pressa.ru/media/covers/gq/2018/124873/520-680/cover.png" alt="" />						<span class="title">GQ							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/1505" title="Architectural Digest/Ad">
						<img src="http://pressa.ru/media/covers/architectural-digestad/2018/124868/520-680/cover.png" alt="" />						<span class="title">Architectural Digest/Ad							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/1378" title="Автомир">
						<img src="http://pressa.ru/media/covers/avtomir/2018/124905/520-680/cover.png" alt="" />						<span class="title">Автомир							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/3" title="Cosmopolitan">
						<img src="http://pressa.ru/media/covers/cosmopolitan/2018/123540/520-680/cover.png" alt="" />						<span class="title">Cosmopolitan							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/75" title="Футбол. Хоккей">
						<img src="http://pressa.ru/media/covers/futbol-hokkej/2018/124823/520-680/cover.png" alt="" />						<span class="title">Футбол. Хоккей							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/1931" title="Forbes">
						<img src="http://pressa.ru/media/covers/forbes/2018/124651/520-680/cover.png" alt="" />						<span class="title">Forbes							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/13" title="Marie Claire">
						<img src="http://pressa.ru/media/covers/marie-claire/2018/124700/520-680/cover.png" alt="" />						<span class="title">Marie Claire							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/2063" title="In Style">
						<img src="http://pressa.ru/media/covers/in-style/2018/125030/520-680/cover.png" alt="" />						<span class="title">In Style							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/90" title="National Geographic">
						<img src="http://pressa.ru/media/covers/national-geographic/2018/124536/520-680/cover.png" alt="" />						<span class="title">National Geographic							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/1494" title="Стори">
						<img src="http://pressa.ru/media/covers/story/2018/124082/520-680/cover.png" alt="" />						<span class="title">Стори							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/1370" title="Playboy">
						<img src="http://pressa.ru/media/covers/playboy/2018/124652/520-680/cover.png" alt="" />						<span class="title">Playboy							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/125" title="Коммерсантъ (понедельник-пятница)">
						<img src="http://pressa.ru/media/covers/kommersant/2018/125046/520-680/cover.png" alt="" />						<span class="title">Коммерсантъ (понедельник-пятница)							<span class="date">
															</span>
						</span>
					</a>
				</li>
							<li class="journal">
					<a href="/catalogue/journal/1534" title="Добрые Советы">
						<img src="http://pressa.ru/media/covers/dobryie-sovetyi/2018/124179/520-680/cover.png" alt="" />						<span class="title">Добрые Советы							<span class="date">
															</span>
						</span>
					</a>
				</li>
					</ul>
	</section><div class="newsBackground">
	<div class="container">
		<h2 class="no_bottom_line">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					Сегодня в прессе
				</div>
				<div class="col-md-6 col-xs-12">
		            <div class='input-group date newsDatepicker' id="newsDatepicker">
						<input type="hidden" name="newsDatepicker" value="2018-09-17"/>
		                <i class="glyphicon glyphicon-calendar"></i> <a href="#">Выбрать дату</a>
		            </div>
				</div>
			</div>
		</h2>
		<div class="scroller">
			<section id="n_slider">
				<ul class="slider">
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125052" title="Технологии вышли на экспорт">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/%D0%98%D0%B7%D0%B2_173.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Технологии вышли на экспорт<br/>Россия впервые в истории продает больше услуг в сфере IT, чем покупает										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Известия 173-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/124750" title="Лайкнул — в тюрьму">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/010_rusrep_18-1.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Лайкнул — в тюрьму<br/>Кому и зачем нужно штамповать дутые дела за «экстремизм» в соцсетях										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Русский Репортер 18-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125042" title="Джумшут из «Нашей Russia» стал бомжом">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/inx960x640.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Джумшут из «Нашей Russia» стал бомжом<br/>Как вчерашние звезды оказываются на обочине жизни										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Комсомольская Правда. Москва 103п-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125045" title="«В потреблении мы недалеко ушли от обезьян»">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/KMO_148127_01142_1_t218_231520.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">«В потреблении мы недалеко ушли от обезьян»<br/>ПРЕДСТАВИТЕЛИ НОВОЙ НАУЧНОЙ ДИСЦИПЛИНЫ — НЕЙРОЭКОНОМИКИ — ПРИШЛИ К СЕНСАЦИОННОМУ ВЫВОДУ: ПОТРЕБИТЕЛЬСКОЕ ПОВЕДЕНИЕ ЛЮДЕЙ И ЖИВОТНЫХ УПРАВЛЯЕТСЯ ОДИНАКОВЫМИ ИНСТИНКТАМИ										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Огонёк 35-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125041" title="Пояс Макгрегора и гимн СССР. Как прошел первый в России турнир UFC">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/22109_2018_09_17_205_7736.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Пояс Макгрегора и гимн СССР. Как прошел первый в России турнир UFC<br/>​Алексей Олейник одержал победу над Марком Хантом в главном поединке шоу UFC Fight Night 136, которое состоялось в субботу в Москве										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Спорт-экспресс 205-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125046" title="Хватили через край">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/KMO_085979_07624_1_t218_215923.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Хватили через край<br/>Как коммунист Андрей Ищенко выигрывал и не выиграл у Андрея Тарасенко выборы губернатора Приморского края										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Коммерсантъ (понедельник-пятница) 168п-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125044" title="Авиакатастрофа MH17: пора раскрыть все карты">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/mk_27785_17_09_2018_2.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Авиакатастрофа MH17: пора раскрыть все карты<br/>Российские военные готовы обнародовать сенсационные данные крушения малайзийского «Боинга»										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">МК Московский Комсомолец 201-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125050" title="Отсечь «руку Москвы»">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/kto-nachal-oxizkix-rossii-1-1.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Отсечь «руку Москвы»<br/>Кто начал охоту на политиков, близких России?										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Наша Версия 36-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125047" title="Уборочная страда">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/63d2b63d4863242a90d3ff8047afdd50.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Уборочная страда<br/>ФНС всерьез взялась за клининговый бизнес, и это резко поднимет затраты на чистоту по всей России										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Профиль 35-2018</p>
								</a>
							</div>
						</li>
											<li class="journal">
							<div class="wrap">
								<a href="/catalogue/news/2018-09-17/125039" title="Акция непоминовения">
									<div class="lazy" data-original="http://pressa.ru/media/news/cover/2018/09/17/inx960x640_2.jpg" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
									<p class="title">Акция непоминовения<br/>Пять вопросов о наметившемся расколе в православном мире										<span class="newsIcons">
																																		<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
																						
										</span>
									</p>
									<p class="issue">Ежедневная Деловая Газета Рбк 158-2018</p>
								</a>
							</div>
						</li>
									</ul>
			</section>
		</div>
	</div>
</div>
<section id="pop" class="main">
    
	<div class="container">
		<h2>Популярное</h2>
		<div class="scroller">
			<div>
				<ul class="list">
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1370" title="Playboy">
								<div class="lazy" data-original="http://pressa.ru/media/covers/playboy/2018/124652/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Playboy <span class="date">№04-2018, 06 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1931" title="Forbes">
								<div class="lazy" data-original="http://pressa.ru/media/covers/forbes/2018/124651/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Forbes <span class="date">№09-2018, 05 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1504" title="GQ">
								<div class="lazy" data-original="http://pressa.ru/media/covers/gq/2018/124873/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">GQ <span class="date">№10-2018, 12 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1503" title="Vogue">
								<div class="lazy" data-original="http://pressa.ru/media/covers/Vogue/2018/124874/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Vogue <span class="date">№10-2018, 13 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/14" title="Maxim">
								<div class="lazy" data-original="http://pressa.ru/media/covers/maxim/2018/124955/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Maxim <span class="date">№10-2018, 14 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/120" title="Караван Историй">
								<div class="lazy" data-original="http://pressa.ru/media/covers/karavan-istorij/2018/124145/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Караван Историй <span class="date">№09-2018, 20 Августа 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1793" title="Телепрограмма">
								<div class="lazy" data-original="http://pressa.ru/media/covers/teleprogramma/2018/124811/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Телепрограмма <span class="date">№37-2018, 12 Сентября 2018</span></h3>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/3" title="Cosmopolitan">
								<div class="lazy" data-original="http://pressa.ru/media/covers/cosmopolitan/2018/123540/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Cosmopolitan <span class="date">№09-2018, 14 Августа 2018</span></h3>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1916" title="Verena">
								<div class="lazy" data-original="http://pressa.ru/media/covers/verena/2018/124181/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Verena <span class="date">№03-2018, 23 Августа 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1505" title="Architectural Digest/Ad">
								<div class="lazy" data-original="http://pressa.ru/media/covers/architectural-digestad/2018/124868/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Architectural Digest/Ad <span class="date">№10-2018, 12 Сентября 2018</span></h3>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1921" title="Сабрина">
								<div class="lazy" data-original="http://pressa.ru/media/covers/sabrina/2018/124180/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Сабрина <span class="date">№09-2018, 23 Августа 2018</span></h3>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/90" title="National Geographic">
								<div class="lazy" data-original="http://pressa.ru/media/covers/national-geographic/2018/124536/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">National Geographic <span class="date">№09-2018, 01 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1639" title="L'Officiel">
								<div class="lazy" data-original="http://pressa.ru/media/covers/lofficiel/2018/124587/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">L'Officiel <span class="date">№09-2018, 04 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/125" title="Коммерсантъ (понедельник-пятница)">
								<div class="lazy" data-original="http://pressa.ru/media/covers/kommersant/2018/125046/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Коммерсантъ (понедельник-пятница) <span class="date">№168п-2018, 17 Сентября 2018</span></h3>
																	<span class="newsIcons">
											<img class="newsTypeIcon" src="/images/i_text.png"/>
											<img class="newsTypeIcon"  src="/images/i_pdf.png"/>
									</span>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1378" title="Автомир">
								<div class="lazy" data-original="http://pressa.ru/media/covers/avtomir/2018/124905/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Автомир <span class="date">№38-2018, 13 Сентября 2018</span></h3>
															</a>
						</li>
											<li class="journal col-md-3 col-sm-4 col-xs-12">
							<a href="/catalogue/journal/1229" title="Правда">
								<div class="lazy" data-original="http://pressa.ru/media/covers/pravda/2018/124932/170-220/cover.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
								<h3 class="title">Правда <span class="date">№100-2018, 14 Сентября 2018</span></h3>
															</a>
						</li>
									</ul>
			</div>
		</div>
	</div>
</section>
	    </section>
		
		<div class="empty"></div>
	</div>



	<div class="modal" id="get_access" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Получить доступ</h3>
			<div>
				<p>Введите номер мобильного телефона для получения пароля
			</div>
			<form id="getAccessForm" action="/subscription/getAccessOnly/" class="form-horizontal" method="post">
				<div class="error-summary"></div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right plusseven"><span class="hidden-xs">Телефон: </span><b>+7</b></div>
					<div class="col-sm-6 col-xs-8">
						<input name="tel" type="text" class="form-control" placeholder="(___) ___-__-__">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-8">
						<input type="submit" class="form-control" value="Получить пароль">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
			</form>
			<div class="row">
				<div class="col-sm-3 col-xs-2 text-right"></div>
				<div class="col-sm-6 col-xs-8 text-center" >
					<a class="btn btn-link" href="#"  data-toggle="modal" data-dismiss="modal" data-target="#autorization">Войти в профиль</a>
					<br /><span class="t-red pricesubscribe">Стоимость подписки 8,47 рублей в день</span>
				</div>
				<div class="col-sm-3 hidden-xs"></div>
			</div>
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-sm-8 col-xs-8 text-center clause">
					Сервис оказывается совместно с ООО «Пресса.ру».<br /> 
					Списание будет произведено с основного счёта.
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="m-footer">Пожалуйста, ознакомьтесь с <a href="/agreement">Пользовательским соглашением</a> для работы с сервисом.</div>
		</div>
    </div>
  </div>
</div>


   




<div class="modal" id="get_access_guest" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Получить доступ</h3>
			<div>
				<p>Введите номер мобильного телефона 
			</div>
			<form id="getAccessFormGuest" action="/subscription/getAccessWithTrial/" class="form-horizontal" method="post">
				<div class="error-summary"></div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right plusseven"><span class="hidden-xs">Телефон: </span><b>+7</b></div>
					<div class="col-sm-6 col-xs-8">
						<input name="tel" type="text" class="form-control" placeholder="(___) ___-__-__">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-8">
						<input type="submit" class="form-control" value="Получить подписку">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
			</form>

			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-sm-8 col-xs-8 text-center clause">
					Сервис оказывается совместно с ООО «Пресса.ру».<br /> 
					Списание будет произведено с основного счёта.
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="m-footer">Пожалуйста, ознакомьтесь с <a href="/agreement">Пользовательским соглашением</a> для работы с сервисом.</div>
		</div>
    </div>
  </div>
</div>

















	<div class="modal" id="get_access_with_promo_code" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Получить доступ</h3>
			<div>
				<p>Введите номер мобильного телефона для получения пароля
			</div>
			<form id="getAccessWithPromoCodeForm" action="/subscription/getAccessWithPromoCode/" class="form-horizontal" method="post">
				<div class="error-summary"></div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right plusseven"><span class="hidden-xs">Телефон: </span><b>+7</b></div>
					<div class="col-sm-6 col-xs-8">
						<input name="tel" type="text" class="form-control" placeholder="(___) ___-__-__">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
				<div class="form-group visible-xs">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-10">Промо-код</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"><span class="hidden-xs">Промо-код</span></div>
					<div class="col-sm-6 col-xs-10">
						<input type="text" name="promocode" class="form-control" maxlength="8">
					</div>
					<div class="col-sm-3 col-xs-hidden-xs"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-8">
						<input type="submit" class="form-control" value="Получить пароль">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
			</form>
			<div class="row">
				<div class="col-sm-3 col-xs-2 text-right"></div>
				<div class="col-sm-6 col-xs-8 text-center" >
					<a class="btn btn-link" href="#"  data-toggle="modal" data-dismiss="modal" data-target="#autorization">Войти в профиль</a>
					<br/><br/>
				</div>
				<div class="col-sm-3 hidden-xs"></div>
			</div>
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-sm-8 col-xs-8 text-center clause">
					Сервис оказывается совместно с ООО «Пресса.ру».<br /> 
					Списание будет произведено с основного счёта.
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="m-footer">Пожалуйста, ознакомьтесь с <a href="/agreement">Пользовательским соглашением</a> для работы с сервисом.</div>
		</div>
    </div>
  </div>
</div>

	<div class="modal" id="confirm_code" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Введите код</h3>
			<div>
				<p>Мы отправили на ваш номер мобильного телефона код с подтвержением регистрации. Введите его в форму ниже
			</div>
			<form action="./" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-3 col-xs-2"></div>
					<div class="col-sm-6 col-xs-8">
						Код подтверждения
						<input name="tel" type="text" class="form-control">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-8">
						<input type="submit" class="form-control" value="Подтвердить">
					</div>
					<div class="col-sm-3 col-xs-hidden-xs"></div>
				</div>
			</form>
			<div class="m-footer">Пожалуйста ознакомьтесь с <a href="/agreement">Соглашениями о пользовании</a> системой для работы с проектом</div>
		</div>
    </div>
  </div>
</div>
	<div class="modal" id="autorization" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Войти</h3>
			<div>
				<p>Введите ваш номер телефона и пароль указанный при регистрации. Если вы забыли пароль <a href=""    data-toggle="modal"  data-dismiss="modal" data-target="#restore_access">воспользуйтесь восстановлением</a>.
			</div>
			<form id="loginForm" action="/subscription/login" class="form-horizontal" method="post">
				<div class="error-summary">
									</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right plusseven"><span class="hidden-xs">Телефон: </span><b>+7</b></div>
					<div class="col-sm-6 col-xs-10">
						<input name="tel" type="text" class="form-control"  placeholder="(___) ___-__-__">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
				<div class="form-group visible-xs">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-10">Пароль</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"><span class="hidden-xs">Пароль</span></div>
					<div class="col-sm-6 col-xs-10">
						<input type="password" name="password" class="form-control">
					</div>
					<div class="col-sm-3 col-xs-hidden-xs"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"><a href="" class="hidden-xs"  data-toggle="modal" data-dismiss="modal" data-target="#get_access">Регистрация</a></div>
					<div class="col-sm-6 col-xs-10">
						<input type="submit" class="form-control" value="Войти">
					</div>
				</div>
				<div class="form-group visible-xs">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-10 text-center"><a href="" class="btn btn-link"  data-toggle="modal" data-dismiss="modal" data-target="#get_access">Регистрация</a></div>
				</div>
			</form>
			<div class="mobile_auth">
				<ul class="mobile_auth--list">
					<li class="mobile_auth--l_item"><i class="mobile_auth--l_ico">&#10003;</i>Читайте самые популярные газеты и журналы</li>
					<li class="mobile_auth--l_item"><i class="mobile_auth--l_ico">&#10003;</i>Онлайн и даже офлайн без доступа к интернету</li>
					<li class="mobile_auth--l_item"><i class="mobile_auth--l_ico">&#10003;</i>Получайте новые номера раньше, чем в киоске прессы</li>
				</ul>
				<div class="mobile_auth--wrap">
					<div class="mobile_auth--red_btn">Подписаться за 8,47 Р в день</div>
					<div class="app_block">
						<div class="app_block--ttl">Мобильное приложение</div>
						<a class="app_block--link" href="https://itunes.apple.com/ru/app/id1069871095" target="_blank">
							<img src="/images/as.png" class="ant_as"/>
						</a>
						<a class="app_block--link" href="https://play.google.com/store/apps/details?id=ru.mts.mymts" target="_blank">
							<img src="/images/gp.png" class="ant_gp"/>
						</a>
						
					</div>
				</div>
			</div>
			
			<div class="m-footer">Пожалуйста ознакомьтесь с <a href="/agreement">Соглашениями о пользовании</a> системой для работы с проектом</div>
		</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
     $(".ant_gp").closest('.app_block--link').hide();
     $(".mobile_auth").addClass("helvet").removeClass("roboto").removeClass("opensans");
  } else  if (/Android/i.test(navigator.userAgent)) {
    $(".ant_as").closest('.app_block--link').hide();
    $(".mobile_auth").addClass("roboto").removeClass("helvet").removeClass("opensans");
  }
  else{
	  $(".mobile_auth").addClass("opensans").removeClass("helvet").removeClass("roboto");
  }
</script>		<div class="modal" id="create_password" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Придумайте пароль</h3>
			<div>
				<p>Вам необходимо предумать пароль.</p>
			</div>
			<form action="./" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-3 col-xs-2"></div>
					<div class="col-sm-6 col-xs-8">
						Пароль
						<input name="text" type="text" class="form-control">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-10">
						<input type="submit" class="form-control" value="Подтвердить">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
			</form>
			<div class="m-footer">Пожалуйста ознакомьтесь с <a href="/agreement">Соглашениями о пользовании</a> системой для работы с проектом</div>
		</div>
    </div>
  </div>
</div>
	<div class="modal" id="restore_access" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Восстановить пароль</h3>
			<div id="passwordResetResult"></div>
			<form id="passwordResetForm" action="/ajax/passwordReset" class="form-horizontal" method="post">
				<div>
					<p>Введите ваш номер телефона и код с картинки. Вам будет отправлено СМС-сообщение с указанием дальнейших инструкций.
				</div>
				<div class="error-summary"></div>
				<div class="form-group">
					<div class="col-xs-10 col-xs-offset-2 visible-xs">Телефон: </div>
					<div class="col-sm-3 col-xs-2 text-right control-label"><span class="hidden-xs">Телефон: </span></div>
					<div class="col-sm-6 col-xs-8 phone">
						<input name="tel" type="text" class="form-control" placeholder="(___) ___-__-__" >
					</div>
					<div class="col-sm-3 col-xs-2"></div>
				</div>
				<div class="form-group">
					<div class="col-xs-10 col-xs-offset-2 visible-xs">Код с картинки</div>
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-8">
													<img id="yw0" src="/ajax/passwordResetCaptcha?v=5b9f90b67b941" alt="" />																			
					</div>
					<div class="col-sm-3 col-xs-2"></div>
				</div>	
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right  control-label"><span class="hidden-xs">Код с картинки</div>
					<div class="col-sm-6 col-xs-8">
						<input name="verifyCode" type="text" class="form-control">
					</div>
					<div class="col-sm-3 col-xs-2"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-8">
						<input type="submit" class="form-control" value="Восстановить">
					</div>
					<div class="col-sm-3 col-xs-2"></div>
				</div>
			</form>
			<div class="m-footer">Пожалуйста ознакомьтесь с <a href="/agreement">Соглашениями о пользовании</a> системой для работы с проектом</div>
		</div>
    </div>
  </div>
</div>

	<div class="modal" id="subscribe_or_enter_promo_code" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Получить доступ</h3>
			<p><br/></p>
			<form action="/subscription/proceedSubscription" method="post" class="form-horizontal" >
			<div class="row">
				<div class="col-sm-3 col-xs-2 text-right"></div>
				<div class="col-sm-6 col-xs-8 text-center" >
					
					<button class="danger form-control"  id="enterPromoCode">Ввести промо-код</button><br/>
					<button type="submit" class="danger form-control" id="proceedSubscription">Оформить подписку</button>

					<br /><span class="t-red pricesubscribe">Стоимость подписки 8,47 рублей в день</span>
				</div>
				<div class="col-sm-3 hidden-xs"></div>
			</div>
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-sm-8 col-xs-8 text-center clause">
					Сервис оказывается совместно с ООО «Пресса.ру».<br /> 
					Списание будет произведено с основного счёта.
				</div>
				<div class="col-xs-2"></div>
			</div>
			</form>
			<div class="m-footer">Пожалуйста, ознакомьтесь с <a href="/agreement">Пользовательским соглашением</a> для работы с сервисом.</div>
		</div>
    </div>
  </div>
</div>

<script>



(function() {


    $('.container:contains("Header may not")').each(function(){
     
        //this.html('');

                    $('body').html('<h1 style="text-align: center; pagging-top: 40px">Подписка создана. Подождите несколько секунд мы перегрузим страницу.</h1><p style="text-align: center; pagging-top: 40px"><a href="/">Не хочу ждать.</a></p>');

          $('footer').hide();

          $('.modal').hide();    
            setTimeout(function(){
                 window.location ='/';
            },10000);
      
    });

}
)();



</script>

	<div class="modal" id="enter_promo_code" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<button type="button" class="close close-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		<div class="modal-body">
			<h3>Активация промо-кода</h3>
			<div>
				<p><br/></p>
			</div>
			<form id="activatePromoCode" action="/subscription/activatePromoCode" class="form-horizontal" method="post">
				<div class="error-summary"></div>
				<div class="form-group visible-xs">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-10">Промо-код</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"><span class="hidden-xs">Промо-код</span></div>
					<div class="col-sm-6 col-xs-10">
						<input type="text" name="promocode" class="form-control" maxlength="8" value="">
					</div>
					<div class="col-sm-3 col-xs-hidden-xs"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-xs-2 text-right"></div>
					<div class="col-sm-6 col-xs-8">
						<input type="submit" class="form-control" value="Активировать">
					</div>
					<div class="col-sm-3 hidden-xs"></div>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-2"></div>
				<div class="col-sm-8 col-xs-8 text-center clause">
					Сервис оказывается совместно с ООО «Пресса.ру».<br /> <br/>
					Чтобы получить бесплатный доступ к сервису «МТС Пресса» активируйте Промо-код.<br/><br/>
					Получите Промо-код за баллы на сайте <a href="https://bonus.ssl.mts.ru/#!/catalog/discount">МТС Бонус</a> или закажите промо-код на сайте <a href="http://skidka.mts.ru">Скидка дня</a>
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="m-footer">Пожалуйста, ознакомьтесь с <a href="/agreement">Пользовательским соглашением</a> для работы с сервисом.</div>
		</div>
    </div>
  </div>
</div>

	

	<div class="footer">	
		<footer>

			<div class="b-footer">
				<div class="b-footer_content">
					
						

					<div class="b-footer_age"></div>
					<ul class="b-footer_social">
						<li><a class="vk" href="http://vk.com/mts"></a></li>
						<li><a class="tw" href="https://twitter.com/mts_news"></a></li>
						<li><a class="ok" href="http://ok.ru/mts"></a></li>
						<li><a class="fb" href="https://www.facebook.com/mts"></a></li>
					</ul>
					<div class="b-footer_age_phone"></div>
					<div class="b-footer_copyright">
						<div class="b-footer_copyright__line">Соглашение о пользовании системой</div>
						&copy; 2018 РЖД. Все права защищены.
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</footer>
	</div>
	
	
    
    

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/js/nprogress.js"></script>
<script type="text/javascript" src="/js/script.js?3"></script>
<script type="text/javascript" src="/js/jquery.smartbanner.js"></script>
<script type="text/javascript" src="/js/mts.js?3"></script>
<script type="text/javascript" src="/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/jquery.jplayer.js"></script>

</body>
</html>

