{% extends 'base.html' %}

{% block main %}

<section id="j_slider">

    <ul class="slider">
            {% for i in top %}
            <li class="journal">
                <a href="/catalogue/journal/1504" title="GQ">
                    <img src="/static/data/{{i.journal_id}}/{{i.issue_id}}/520-680.png" alt="" />						<span class="title">{{ i.journal_name }}<span class="date">
                                                        </span>
                    </span>
                </a>
            </li>          
            {% endfor %}          
    </ul>

</section><div class="newsBackground">
<div class="container">
    <h2 class="no_bottom_line">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                Сегодня в прессе
            </div>
            <div class="col-md-6 col-xs-12">
                <div class='input-group date newsDatepicker' id="newsDatepicker">
                    <input type="hidden" name="newsDatepicker" value="2018-09-17"/>
                    <i class="glyphicon glyphicon-calendar"></i> <a href="#">Выбрать дату</a>
                </div>
            </div>
        </div>
    </h2>
    <div class="scroller">
        <section id="n_slider">
            <ul class="slider">
                {% for i in topArticles %}
                    <li class="journal">
                        <div class="wrap">
                            <a href="/catalogue/news/2018-09-17/125052" title="Технологии вышли на экспорт">
                                <div class="lazy" data-original="/static/data/top10/{{i.id}}.png" style="background-image: url('/images/smallplaceholder.png'); width: 247px; height: 180px;"></div>
                                <p class="title">{{i.title}}<span class="newsIcons">
                                                                                                                                                            <img class="newsTypeIcon"  src="/static/images/i_pdf.png"/>
                                                                                    
                                    </span>
                                </p>
                                <p class="issue">{{ i.journal }} {{ i.issue }}</p>
                            </a>
                        </div>
                    </li>
                {% endfor %}            
                </ul>
        </section>
    </div>
</div>
</div>
<section id="pop" class="main">

<div class="container">
    <h2>Популярное</h2>
    <div class="scroller">
        <div>
                
                
            
            <ul class="list">
                    {% for i in new %}
                    <li class="journal col-md-3 col-sm-4 col-xs-12">
                        <a href="/catalogue/journal/1370" title="Playboy">
                            <div class="lazy" data-original="static/data/{{i.journal_id}}/{{ i.id }}/170-220.png" style="background-image: url('/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
                            <h3 class="title">{{ i.journal_name }} <span class="date">{{ i.name }}, {{ i.release_date }}  </span></h3>
                                                                <span class="newsIcons">
                                        <img class="newsTypeIcon" src="/static/images/i_text.png"/>
                                        <img class="newsTypeIcon"  src="/static/images/i_pdf.png"/>
                                </span>
                                                        </a>
                    </li>
                    {% endfor %}
                                       
                                </ul>
        </div>
    </div>
</div>
</section>


{% endblock %}

{% block themes %}
<nav id="categories" class="hidden-xs">
    <div class="container">
        <ul class="nav nav-pills">
            {% for t in themes %}
                <li class="category "><a href="/catalogue/category/{{ t.id }}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav> 


{% endblock %}