{% extends 'base.html' %}

{% block main %}

<section class="journalContents">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">

                        <div class="lazy" data-original="/static/data/{{ i.journal.id }}/{{ i.id }}/520-680.png" style="background-image: url('/static/images/bigplaceholder.png'); width: 270px; height: 370px;"></div>
                        <p class="journalTitle">{{ i.journal_name }}</p>
                        <p class="journalDate"><span class="date">№{{ i.name }}, {{ i.release_date }}</span></p>

                    <p class="journalDescription">{{ i.journal.description }}</p>
                </div>





                        <div class="col-md-9 col-xs-12">
                            <h2>Содержание</h2>
                            <div class="journalArticles">

                                    <div class="row">
                                            <div class="col-md-12">
                                                <hr/>
                                            </div>
                                        </div>

                                    {% for a in articles %}
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="lazy" data-original="/static/data/articles/{{ a.id }}/image.png" style="background-image: url('/static/images/lazybg_hor.png'); width: 270px; min-height: 180px;"></div>
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <a href="/article/{{ a.id }}"><h2>{{ a.title }}</h2></a>									<p>{{ a.short_text }}...</p>
                                                                            </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
    </div>
</section>








					
    


    <section id="pop" class="main">
            <div class="container">
                <h2>Другие номера</h2>
                <div class="scroller">
                    <div>
                        <ul class="list">
                                {% for i in others %}
                                <li class="journal col-md-3 col-sm-4 col-xs-12">
                                    <a href="/journal/{{ i.id }}" title="{{ i.journal.name}}">
                                        <div class="lazy" data-original="/static/data/{{ i.journal.id }}/{{ i.id }}/306-433.png" style="background-image: url('/static/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
            
                                        <h3 class="title">{{ i.journal.name}} <span class="date">№{{ i.name}}, {{ i.release_date }}</span></h3>
                                                                        </a>
                                </li>
                                {% endfor %}
                                                       
                                                    
                        </ul>
                    </div>
                </div>
            </div>
            
        </section>    

{% endblock %}





{% block themes %}
<nav id="categories" class="hidden-xs">
    <div class="container">
        <ul class="nav nav-pills">
            {% for t in themes %}
                <li class="category "><a href="/category/{{ t.id }}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav> 
{% endblock %}

