{% extends 'base.html' %}

{% block main %}
<section>
		<div id="singlebackwrapper">
			<div class="container" id="journal-number">
				<div class="row clearfix">
					<div class="col-sm-4 image">
						<div class="lazy" data-original="/static/data/{{ i.journal.id }}/{{ i.id }}/520-680.png" style="background-image: url('/static/images/bigplaceholder.png') center center; width: 330px; height: 450px;"></div>
					</div>
					<div class="col-sm-8">
						<div class="top titledate">
							<div class="title">{{ i.journal_name }}</div>
							<div class="date">№{{ i.name }}, {{ i.release_date }}</div>
							<p>
                                {{ i.journal.description }}
                            </p>
						</div>
						
														<div class="row-fluid bottom">
								<div class="bottom">
                                        <!--
                                        <div class="subscribebutton">
                                                        
												<a href="http://pressa.mts.ru:8080" class="subscribe danger">Подписаться</a>
																						8,47 рублей в день
                                        </div>
                                        -->
									 
									<div class="readbutton">
										
																				<a href="/reader/#/magazines/geolyonok/issues/07-08-2018/pages/1/"  class="read btn_gray" id="read">Читать</a>
										{{ i.amount_of_pages }} стр.									</div>
								</div>
							</div>
					</div>
					
				</div>
			</div>
		</div>
    </section>
    


    <section id="pop" class="main">
            <div class="container">
                <h2>Другие номера</h2>
                <div class="scroller">
                    <div>
                        <ul class="list">
                                {% for i in others %}
                                <li class="journal col-md-3 col-sm-4 col-xs-12">
                                    <a href="/journal/{{ i.id }}" title="{{ i.journal.name}}">
                                        <div class="lazy" data-original="/static/data/{{ i.journal.id }}/{{ i.id }}/306-433.png" style="background-image: url('/static/images/smallplaceholder.png'); width: 170px; height: 220px;"></div>
            
                                        <h3 class="title">{{ i.journal.name}} <span class="date">№{{ i.name}}, {{ i.release_date }}</span></h3>
                                                                        </a>
                                </li>
                                {% endfor %}
                                                       
                                                    
                        </ul>
                    </div>
                </div>
            </div>
            
        </section>    

{% endblock %}